.App
{
    min-height: 100vh;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

}

.search-form
{

    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-bar
{
    width: 50%;
    border: none;
    padding: 10px;
}

.search-button
{
    background: lightcoral;
    border: none;
    padding: 10px 20px;
    color: white;
}

.recipes
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Show-box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-data
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: ivory;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.box-data img
{
    width: 800px;
    height: 600px;
}

.box-data p
{
    font-size: 18px;
}

.sand
{
    display: none;
}

@media (max-width: 500px)
{
    .box-data
    {
        width: 80%;
        padding: 25px;
    }

    .box-data img
    {
        width: 300px;
        height: 240px;
    }

    .box-data h1
    {
        font-size: 26px;
    }

    .box-data p
    {
        font-size: 16px;
    }

}